# 05. Exploratory Data Analysis

### Importando as bibliotecas

In [1]:
import sys
sys.path.append('..')
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import functions.fn_stats as fn_stats
import params.consts as consts

### Lendo o dataset tratado e visualizando o overview atual

In [2]:
df = pd.read_csv(consts.PROCESSED_DATABASE) # Armazenando o dataset tratado em uma vari√°vel

df.head(3) # Exibindo as 3 primeiras linhas do dataset

,Education,Marital_Status,HasChildren,AgeGroup,Income,Recency,Complain,Days_Since_Enrolled,Years_Since_Enrolled,NumDealsPurchases,NumWebVisitsMonth,NumTotalPurchases,MntRegularProds,MntGoldProds,MntTotal,AcceptedCmpTotal,HasAcceptedCmp,Response
0,Graduation,Single,0,46-60,58138.0,58,0,663,1,3,7,22,1529,88,1617,0,0,1
1,Graduation,Single,1,46-60,46344.0,38,0,113,0,2,5,4,21,6,27,0,0,0
2,Graduation,Partner,0,46-60,71613.0,26,0,312,0,1,4,20,734,42,776,0,0,0

In [3]:
df.tail(3) # Exibindo as 3 √∫ltimas linhas do dataset

,Education,Marital_Status,HasChildren,AgeGroup,Income,Recency,Complain,Days_Since_Enrolled,Years_Since_Enrolled,NumDealsPurchases,NumWebVisitsMonth,NumTotalPurchases,MntRegularProds,MntGoldProds,MntTotal,AcceptedCmpTotal,HasAcceptedCmp,Response
2202,Graduation,Single,0,31-45,56981.0,91,0,155,0,1,6,18,1217,24,1241,1,1,0
2203,Master,Partner,1,46-60,69245.0,8,0,156,0,2,3,21,782,61,843,0,0,0
2204,PhD,Partner,1,46-60,52869.0,40,0,622,1,3,7,8,151,21,172,0,0,1

In [4]:
df.info() # Exibindo as informa√ß√µes das vari√°veis do dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Education             2205 non-null   object
 1   Marital_Status        2205 non-null   object
 2   HasChildren           2205 non-null   int64
 3   AgeGroup              2205 non-null   object
 4   Income                2205 non-null   float64
 5   Recency               2205 non-null   int64
 6   Complain              2205 non-null   int64
 7   Days_Since_Enrolled   2205 non-null   int64
 8   Years_Since_Enrolled  2205 non-null   int64
 9   NumDealsPurchases     2205 non-null   int64
 10  NumWebVisitsMonth     2205 non-null   int64
 11  NumTotalPurchases     2205 non-null   int64
 12  MntRegularProds       2205 non-null   int64
 13  MntGoldProds          2205 non-null   int64
 14  MntTotal              2205 non-null   int64
 15  AcceptedCmpTotal      2205 non-null   int64
 16  HasAcceptedCmp        2205 non-null   int64
 17  Response              2205 non-null   int64
dtypes: float64(1), int64(14), object(3)
memory usage: 310.2+ KB

In [5]:
fn_stats.describe(df) # Usando a fun√ß√£o que exibe as estat√≠sticas das colunas num√©ricas

,HasChildren,Income,Recency,Complain,Days_Since_Enrolled,Years_Since_Enrolled,NumDealsPurchases,NumWebVisitsMonth,NumTotalPurchases,MntRegularProds,MntGoldProds,MntTotal,AcceptedCmpTotal,HasAcceptedCmp,Response
count,2205.00,2205.00,2205.00,2205.00,2205.00,2205.00,2205.00,2205.00,2205.00,2205.00,2205.00,2205.00,2205.00,2205.00,2205.00
mean,0.72,51622.09,49.01,0.01,353.72,0.48,2.32,5.34,12.57,562.76,44.06,606.82,0.30,0.21,0.15
std,0.45,20713.06,28.93,0.09,202.56,0.50,1.89,2.41,7.18,575.94,51.74,601.68,0.68,0.41,0.36
min,0.00,1730.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.00,0.00,5.00,0.00,0.00,0.00
25%,0.00,35196.00,24.00,0.00,180.00,0.00,1.00,3.00,6.00,56.00,9.00,69.00,0.00,0.00,0.00
50%,1.00,51287.00,49.00,0.00,356.00,0.00,2.00,6.00,12.00,343.00,25.00,397.00,0.00,0.00,0.00
75%,1.00,68281.00,74.00,0.00,529.00,1.00,3.00,7.00,18.00,964.00,56.00,1047.00,0.00,0.00,0.00
max,1.00,113734.00,99.00,1.00,699.00,1.00,15.00,20.00,32.00,2491.00,321.00,2525.00,4.00,1.00,1.00

In [6]:
df.describe(exclude='number') # Exibindo as estat√≠sticas das colunas categ√≥ricas

         Education Marital_Status AgeGroup
count         2205           2205     2205
unique           5              2        4
top     Graduation        Partner    31-45
freq          1113           1422      958

In [7]:
df.isnull().sum() # Somando todos os valores nulos de cada coluna

Education               0
Marital_Status          0
HasChildren             0
AgeGroup                0
Income                  0
Recency                 0
Complain                0
Days_Since_Enrolled     0
Years_Since_Enrolled    0
NumDealsPurchases       0
NumWebVisitsMonth       0
NumTotalPurchases       0
MntRegularProds         0
MntGoldProds            0
MntTotal                0
AcceptedCmpTotal        0
HasAcceptedCmp          0
Response                0
dtype: int64